<nav class='navbar'>
  <div class='container'>
    <ul class='navbar-list'>
      <li class='navbar-item'><%= link_to 'Some thoughts', thoughts_path, class: 'navbar-link' %></li>
      <li class='navbar-item'><%= link_to 'About me', about_me_path, class: 'navbar-link' %></li>
      <% if Rails.configuration.is_looking_for_work %>
        <li class='navbar-item'><%= link_to 'Things I most enjoyed making', work_path, class: 'navbar-link' %></li>
      <% end %>
    </ul>
  </div>
</nav>

