<nav class='navbar'>
  <div class='container'>
    <ul class='navbar-list'>
      <li class='navbar-item'><%= link_to 'About me', root_path, class: 'navbar-link' %></li>
      <li class='navbar-item'><%= link_to 'Some thoughts', thoughts_path, class: 'navbar-link' %></li>
      <li class='navbar-item'><%= link_to 'Things I most enjoyed making', work_path, class: 'navbar-link' %></li>
    </ul>
  </div>
</nav>

